/*Importacion de fuente*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-primario: #E5E5E5;
    --color-secundario: #190a52; /*#0A3871;*/
    --color-terciario: #D8DFE8;
    --color-ternario: #FFFFFF;
    --color-active: #db8a2d;
    --color-texto-advertencia: #343A40;
    --color-texto-salida: #495057;
    --fuente-inter: 'Inter', sans serif; 
}
/*RESET*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}
.header{
    padding: 2% 2% 0% 2%;
    display: flex;
    align-items: center;
}
.img__alura{
    width: 10%;
    height: 10%;
}
.header__text{
    font-family: var(--fuente-inter);
    font-size: 2rem;
    color: var(--color-secundario);
    text-align: center;
}

.section{
    display: flex;
    align-items: start;
    padding: 2% 5% 2% 5%;
    justify-content: space-between;
    gap: 3.125rem;
    height: auto;
}
.section__option{
    width: 55%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    gap: 1rem;
    justify-content: space-between;
}
.container__and__cancel{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
}

.container__input{
    box-sizing: border-box;
    font-family: var(--fuente-inter);
    color: var(--color-secundario);
    font-size: 2rem;
    width: 95%;
    background-color: var(--color-primario);
    outline: none;
    border: none;
    padding: 2% 1% 1% 1%;
    resize: none;
    overflow: hidden;
}

.cancel{
    padding-top: 3%;
}
.button__cancel{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-terciario);
    width: 4rem;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    padding: 10% 3%;
    color: var(--color-ternario);
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}
.button__cancel:active{
    background-color: var(--color-active);
}
.info{  
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text__indication{
    font-family: var(--fuente-inter);
    font-size: 0.75rem;
    color: var(--color-texto-salida);
    align-items: center;
    text-align: start;
}
.container__buttons{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0%;
}
.encrypt__container__button{
    background-color: var(--color-secundario);
    color: var(--color-ternario);
    font-family: var(--fuente-inter);
    font-size: 1rem;
    padding: 30px 20px;
    width: 50%;
    display: flex;
    border: var(--color-secundario);
    border-radius: 24px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.encrypt__container__button:active{
    background-color: var(--color-active);
}
.decrypt__container__button{
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-size: 1rem;
    padding: 30px 20px;
    width: 50%;
    display: flex;
    border:1px solid var(--color-secundario);
    border-radius: 24px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.decrypt__container__button:active{
    background-color: var(--color-texto-salida);
}

.container__output{
    background-color: var(--color-ternario);
    border: none;
    border-radius: 32px;
    width: 45%;
    min-height: 500px;
    padding: 0% 0% 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.salida__uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.salida__dos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.imagen{
    width: 50%;
}
.text__output{
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    color: var(--color-texto-salida);
    text-align: start;
    padding: 5% 2% 2% 2%;
}
.text__one{
    font-family: var(--fuente-inter);
    color: var(--color-texto-advertencia);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
.text__two{
    font-family: var(--fuente-inter);
    color: var(--color-texto-salida);
    font-size: 1.5rem;
    text-align: center;
}
.copy__button{
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-size: 1rem;
    padding: 30px 20px;
    width: 80%;
    display: flex;
    border:1px solid var(--color-secundario);
    border-radius: 24px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.copy__button:active{
    background-color: var(--color-texto-salida);
}
.footer{
    background-color: var(--color-secundario);
    color: var(--color-ternario);
    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 1rem;
    font-family: var(--fuente-inter);
    font-weight: 400;
}

/* Media Queries */
@media (max-width: 768px) and (min-width: 376px) {
    .header__text {
        font-size: 1.5rem;
    }
    .img__alura{
        width: 15%;
        height: 15%;
    }
    .section {
        flex-direction: column;
        align-items: center;
    }

    .section__option {
        width: 90%;
    }

    .container__output {
        width: 90%;
        align-items: center;
        min-height: fit-content;
    }

    .imagen{
        display: none;
    }

    .text__output {
        font-size: 1.2rem;
    }

    .copy__button {
        padding: 20px 20px;
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .header__text {
        font-size: 1.5rem;
    }

    .img__alura{
        width: 20%;
        height: 20%;
    }

    .section {
        flex-direction: column;
        align-items: center;
        padding: 4%;
    }

    .section__option {
        width: 100%;
    }

    .container__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }


    .encrypt__container__button{
        padding: 20px 20px;
        width: 90%;
    }
    .decrypt__container__button{
        padding: 20px 20px;
        width: 90%;
    }

    .container__output {
        width: 100%;
        align-items: center;
        min-height: fit-content;
    }

    .imagen{
        display: none;
    }

    .text__output {
        font-size: 1rem;
        padding: 5%;
    }

    .text__one, .text__two {
        font-size: 1.2rem;
    }

    .copy__button {
        padding: 20px 20px;
        width: 90%;
        text-align: center;
    }
}